[submodule "backend"]
	path = backend
	url = https://github.com/Salita-Verde-SA/ecommerce-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/FabrizioCastillo/frontend
